$color-green: #3d4c39;
$color-gold: #97733f;
$color-red: #a80000;
$color-white: #ffffff;
$color-grey-light: #f7f7f7;
$color-grey-medium: #000;
$color-black: #000000;
$color-shadow: #00000010;

$screen-mobile-s: 320px;
$screen-mobile-m: 440px;
$screen-mobile-l: 560px;
$screen-tablet-s: 680px;
$screen-tablet-m: 800px;
$screen-tablet-l: 920px;
$screen-desktop-s: 1040px;
$screen-desktop-m: 1160px;
$screen-desktop-l: 1280px;
